In [1]:
import pandas as pd 
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [2]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
        "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [6]:
df3 = pd.merge(df1,df2,on='temperature') # only all-known values cities
df3

KeyError: 'temperature'

In [7]:
df3 = pd.merge(df1,df2,on='city',how='outer') # only all-known values cities
df3

        city  temperature  humidity
0   new york         21.0      68.0
1    chicago         14.0      65.0
2    orlando         35.0       NaN
3  baltimore         38.0       NaN
4  san diego          NaN      71.0

In [8]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})

In [9]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})

In [18]:
x = df1.merge(df2)

In [19]:
x.set_index('city')

          temperature  humidity
city
new york           21        68
chicago            14        65
orlando            35        75

In [20]:
type(x
    )

pandas.core.frame.DataFrame

In [17]:
x