# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
url_data = pd.read_csv(url,sep='\t')
url_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = url_data

### Step 4. See the first 10 entries

In [87]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [88]:
# Solution 1
print(len(chipo))

4622

In [109]:
# Solution 2
print(chipo.shape[0]) # shapre returns a tuple (rows,columns)

4622

### Step 6. What is the number of columns in the dataset?

In [90]:
print(len(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [91]:
print(chipo.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [92]:
# zero-based indexing 
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [93]:
# solution 1
print(chipo.item_name.max())

Veggie Soft Tacos

In [114]:
# solution 2

# to print the frequency and the name of the most occuring item:

frequency = chipo.item_name.value_counts()[0]
name = chipo.item_name.value_counts().index[0]
print(f'{name} is the most occuring item with frequency {frequency}:', '\n')

print(chipo.item_name.value_counts()) # prints the frequency of each item

## print(chipo[chipo['item_name']=='Chicken Bowl'].quantity.sum())

Chicken Bowl is the most occuring item with frequency 726:

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64
761

### Step 10. For the most-ordered item, how many items were ordered?

In [95]:
print(chipo.item_name.value_counts()[0])

726

### Step 11. What was the most ordered item in the choice_description column?

In [96]:
frequency = chipo.choice_description.value_counts()[0]
name = chipo.choice_description.value_counts().index[0]
print(f'{name} is the most occuring item with frequency {frequency}:', '\n')

[Diet Coke] is the most occuring item with frequency 134:

### Step 12. How many items were orderd in total?

In [116]:
print(chipo.quantity.sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [98]:
print(type(chipo.item_price))

<class 'pandas.core.series.Series'>

#### Step 13.b. Create a lambda function and change the type of item price

In [121]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$', '')                      
                                                            if isinstance(x, str) else x).astype(float)

#### Step 13.c. Check the item price type

In [124]:
print(chipo.item_price.dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [133]:
revenue = chipo['quantity'].dot(chipo['item_price'])
revenue

39237.02000000003

### Step 15. How many orders were made in the period?

In [139]:
no_orders =len(chipo['order_id'].unique()) 
print(no_orders)

1834

### Step 16. What is the average revenue amount per order?

In [141]:
## Solution 1
print(revenue/no_orders)

21.394231188658686

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [108]:
print(len(chipo.item_name.value_counts()))

50
(4622, 5)

In [5]:
print(len(chipo['item_name'].unique()))

50

In [8]:
lst = chipo.order_id.unique

In [9]:
lst

<bound method Series.unique of 0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64>