In [2]:
import pandas as pd 
import requests

In [95]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
url_data = pd.read_csv(url,sep='\t')

In [89]:
url_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

KeyError: "None of [Index(['item_name'], dtype='object')] are in the [columns]"

In [96]:
chipo_df = url_data

In [91]:
chipo_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
chipo_df.shape[0]

4622

In [63]:
data = chipo_df.head(10)
data['item_name'][data['choice_description']!='NaN']

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
5                             Chicken Bowl
6                            Side of Chips
7                            Steak Burrito
8                         Steak Soft Tacos
9                            Steak Burrito
Name: item_name, dtype: object

In [18]:
chipo_df.shape

(4622, 5)

In [19]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [20]:
len(chipo_df.columns)

5

In [22]:
chipo_df.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [23]:
chipo_df.index

RangeIndex(start=0, stop=4622, step=1)

In [29]:
chipo_df[['item_name']].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
dtype: int64

In [36]:
print('The most odrderd item is:',chipo_df.item_name.value_counts().index[0],'with an amount of:',chipo_df.item_name.value_counts()[0])

The most odrderd item is: Chicken Bowl with an amount of: 726

In [65]:
len(chipo_df['quantity'][chipo_df['item_name']=='Chicken Bowl'])

726

In [66]:
# if you want a complete data frame, df[condition]
# if you want a data frame from a relation between two comlumns, df[column][condition]

In [67]:
chipo_df.choice_description.value_counts().index[0]

'[Diet Coke]'

In [69]:
sum(chipo_df.quantity)

4972

In [86]:
chipo_df.item_price

0       eo
1       eo
2       eo
3       eo
4       eo
        ..
4617    eo
4618    eo
4619    eo
4620    eo
4621    eo
Name: item_price, Length: 4622, dtype: object

In [97]:
for i in range(len(chipo_df.item_price)):
    string = chipo_df.item_price[i]
    string = string.replace(string[0],"")
    string.strip()
    chipo_df.item_price[i]= float(string)
    
chipo_df.item_price

<ipython-input-97-edd6ab61bae8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo_df.item_price[i]= float(string)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [98]:
type(chipo_df['item_price'][0])

float

In [102]:
type(chipo_df.item_price[34])

float

In [111]:
revenue = sum(chipo_df['quantity']*chipo_df['item_price'])

In [114]:
no_orders = len(chipo_df.order_id.unique())

In [115]:
revenue/no_orders

21.3942311886587

In [ ]:
chipo_df.item_name.u