# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [10]:
df1 = pd.Series(np.random.randint(1,4,100))
df2 = pd.Series(np.random.randint(1,3,100))
df3 = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [12]:
df = pd.concat([df1,df2,df3], axis =1)
df

    0  1      2
0   1  2  13118
1   1  1  15811
2   1  2  11588
3   3  2  22117
4   3  2  11738
.. .. ..    ...
95  1  1  23833
96  3  1  24547
97  3  2  12755
98  2  1  26525
99  2  1  17988

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [18]:
df.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr_meter'}, inplace = True) # change the df in-place
df

    bedrs  bathrs  price_sqr_meter
0       1       2            13118
1       1       1            15811
2       1       2            11588
3       3       2            22117
4       3       2            11738
..    ...     ...              ...
95      1       1            23833
96      3       1            24547
97      3       2            12755
98      2       1            26525
99      2       1            17988

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [29]:
bigcolumn = pd.concat([df1,df2,df3]) # the default value of axis = 0, if 1, it will concatenate along the columns
pd.DataFrame(bigcolumn)

        0
0       1
1       1
2       1
3       3
4       3
..    ...
95  23833
96  24547
97  12755
98  26525
99  17988

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [35]:
len(bigcolumn)
# false, the indices are from 0 to 99 for every concatenated column, overall length is 300

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [33]:
bigcolumn = pd.concat([df1,df2,df3], ignore_index = True)
pd.DataFrame(bigcolumn)

         0
0        1
1        1
2        1
3        3
4        3
..     ...
295  23833
296  24547
297  12755
298  26525
299  17988

[300 rows x 1 columns]