### Using CSV

In [1]:
import pandas as pd 
df= pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Using Excel

In [4]:
df = pd.read_excel("weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

### Using Dictionaries

In [6]:
import pandas as pd 
weather_data = {
    'data': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'even': ['Rain','Sunny','Snow']
}
df = pd.DataFrame(weather_data)
df

       data  temperature  windspeed   even
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Using Tuples List

In [7]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow'),
]
df = pd.DataFrame(data = weather_data, columns =['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Using A List Of Dictionaries

In [10]:
weather_data = [
    {'day': '1/1/2017','temperature': 32, 'windspeed':6, 'event':'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed':7, 'event':'Suuny'},
    {'day': '1/1/2017', 'temperature': 28, 'windspeed':2, 'event':'Snow'}
    
]
df = pd.DataFrame(data = weather_data, columns = ['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Suuny
2  1/1/2017           28          2   Snow