# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [9]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep= '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [10]:
for i in range(len(chipo.item_price)):
    chipo.item_price[i]= float(chipo.item_price[i].replace(chipo.item_price[i][0],"").strip())

<ipython-input-10-5c1fc3fc26f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo.item_price[i]= float(chipo.item_price[i].replace(chipo.item_price[i][0],"").strip())

In [11]:
print(len(items.unique()))

493

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [12]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
#chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name item_price
606        Steak Salad Bowl      11.89
1229    Barbacoa Salad Bowl      11.89
1132    Carnitas Salad Bowl      11.89
7             Steak Burrito      11.75
168   Barbacoa Crispy Tacos      11.75
39            Barbacoa Bowl      11.75
738       Veggie Soft Tacos      11.25
186       Veggie Salad Bowl      11.25
62              Veggie Bowl      11.25
57           Veggie Burrito      11.25
250           Chicken Salad      10.98
5              Chicken Bowl      10.98
8          Steak Soft Tacos       9.25
554   Carnitas Crispy Tacos       9.25
237     Carnitas Soft Tacos       9.25
56      Barbacoa Soft Tacos       9.25
92       Steak Crispy Tacos       9.25
664             Steak Salad       8.99
54               Steak Bowl       8.99
3750         Carnitas Salad       8.99

### Step 6. Sort by the name of the item

In [13]:
price_per_item.sort_values(by = 'item_name', ascending = True).drop('item_price',axis='columns')

                                  item_name
298                       6 Pack Soft Drink
39                            Barbacoa Bowl
21                         Barbacoa Burrito
168                   Barbacoa Crispy Tacos
1229                    Barbacoa Salad Bowl
56                      Barbacoa Soft Tacos
34                            Bottled Water
673                                    Bowl
510                                 Burrito
28                              Canned Soda
263                       Canned Soft Drink
33                            Carnitas Bowl
27                         Carnitas Burrito
554                   Carnitas Crispy Tacos
3750                         Carnitas Salad
1132                    Carnitas Salad Bowl
237                     Carnitas Soft Tacos
5                              Chicken Bowl
16                          Chicken Burrito
11                     Chicken Crispy Tacos
250                           Chicken Salad
44                       Chicken Salad Bowl
12                       Chicken Soft Tacos
40                                    Chips
0              Chips and Fresh Tomato Salsa
10                      Chips and Guacamole
674       Chips and Mild Fresh Tomato Salsa
233      Chips and Roasted Chili Corn Salsa
191      Chips and Roasted Chili-Corn Salsa
38    Chips and Tomatillo Green Chili Salsa
111     Chips and Tomatillo Red Chili Salsa
3     Chips and Tomatillo-Green Chili Salsa
300     Chips and Tomatillo-Red Chili Salsa
520                            Crispy Tacos
1                                      Izze
2                          Nantucket Nectar
1414                                  Salad
6                             Side of Chips
54                               Steak Bowl
7                             Steak Burrito
92                       Steak Crispy Tacos
664                             Steak Salad
606                        Steak Salad Bowl
8                          Steak Soft Tacos
62                              Veggie Bowl
57                           Veggie Burrito
1653                    Veggie Crispy Tacos
1694                           Veggie Salad
186                       Veggie Salad Bowl
738                       Veggie Soft Tacos

### Step 7. What was the quantity of the most expensive item ordered?

In [15]:
chipo['quantity'][chipo.item_price==chipo.item_price.max()]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [28]:
len(chipo[chipo.item_name=='Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [32]:
len(chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)])

20