In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(url, sep='\t')
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
chipo = data

In [17]:
for i in range(len(chipo.item_price)):
    chipo.item_price[i]= float(chipo.item_price[i].replace(chipo.item_price[i][0],"").strip())

AttributeError: 'float' object has no attribute 'replace'

In [10]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [15]:
chipo['item_price'][chipo.item_name=='Chicken Bowl']

4       16.98
5       10.98
13      11.25
19       8.75
26       8.49
        ...
4590    11.25
4591     8.75
4595     8.75
4599     8.75
4604     8.75
Name: item_price, Length: 726, dtype: object

In [11]:
items = chipo['item_name'][chipo.item_price>=10]

In [12]:
items

4             Chicken Bowl
5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1130, dtype: object

In [13]:
print(len(items.unique()))

31

In [16]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
4                              Chicken Bowl      16.98
...                                     ...        ...
4617                          Steak Burrito      11.75
4618                          Steak Burrito      11.75
4619                     Chicken Salad Bowl      11.25
4620                     Chicken Salad Bowl       8.75
4621                     Chicken Salad Bowl       8.75

[4622 rows x 2 columns]

In [19]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

chipo_one_product = chipo_filtered[chipo_filtered.quantity == 1]

price_per_item = chipo_one_product[['item_name','item_price']]

In [20]:
price_per_item

                                  item_name item_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
5                              Chicken Bowl      10.98
6                             Side of Chips       1.69
7                             Steak Burrito      11.75
8                          Steak Soft Tacos       9.25
10                      Chips and Guacamole       4.45
11                     Chicken Crispy Tacos       8.75
12                       Chicken Soft Tacos       8.75
16                          Chicken Burrito       8.49
21                         Barbacoa Burrito       8.99
27                         Carnitas Burrito       8.99
28                              Canned Soda       1.09
33                            Carnitas Bowl       8.99
34                            Bottled Water       1.09
38    Chips and Tomatillo Green Chili Salsa       2.95
39                            Barbacoa Bowl      11.75
40                                    Chips       2.15
44                       Chicken Salad Bowl       8.75
54                               Steak Bowl       8.99
56                      Barbacoa Soft Tacos       9.25
57                           Veggie Burrito      11.25
62                              Veggie Bowl      11.25
92                       Steak Crispy Tacos       9.25
111     Chips and Tomatillo Red Chili Salsa       2.95
168                   Barbacoa Crispy Tacos      11.75
186                       Veggie Salad Bowl      11.25
191      Chips and Roasted Chili-Corn Salsa       2.39
233      Chips and Roasted Chili Corn Salsa       2.95
237                     Carnitas Soft Tacos       9.25
250                           Chicken Salad      10.98
263                       Canned Soft Drink       1.25
298                       6 Pack Soft Drink       6.49
300     Chips and Tomatillo-Red Chili Salsa       2.39
510                                 Burrito        7.4
520                            Crispy Tacos        7.4
554                   Carnitas Crispy Tacos       9.25
606                        Steak Salad Bowl      11.89
664                             Steak Salad       8.99
673                                    Bowl        7.4
674       Chips and Mild Fresh Tomato Salsa        3.0
738                       Veggie Soft Tacos      11.25
1132                    Carnitas Salad Bowl      11.89
1229                    Barbacoa Salad Bowl      11.89
1414                                  Salad        7.4
1653                    Veggie Crispy Tacos       8.49
1694                           Veggie Salad       8.49
3750                         Carnitas Salad       8.99

In [22]:
price_per_item.sort_values(by = 'item_price',ascending = False).head(30)

                  item_name item_price
606        Steak Salad Bowl      11.89
1229    Barbacoa Salad Bowl      11.89
1132    Carnitas Salad Bowl      11.89
7             Steak Burrito      11.75
168   Barbacoa Crispy Tacos      11.75
39            Barbacoa Bowl      11.75
738       Veggie Soft Tacos      11.25
186       Veggie Salad Bowl      11.25
62              Veggie Bowl      11.25
57           Veggie Burrito      11.25
250           Chicken Salad      10.98
5              Chicken Bowl      10.98
8          Steak Soft Tacos       9.25
554   Carnitas Crispy Tacos       9.25
237     Carnitas Soft Tacos       9.25
56      Barbacoa Soft Tacos       9.25
92       Steak Crispy Tacos       9.25
664             Steak Salad       8.99
54               Steak Bowl       8.99
3750         Carnitas Salad       8.99
21         Barbacoa Burrito       8.99
27         Carnitas Burrito       8.99
33            Carnitas Bowl       8.99
11     Chicken Crispy Tacos       8.75
12       Chicken Soft Tacos       8.75
44       Chicken Salad Bowl       8.75
1653    Veggie Crispy Tacos       8.49
16          Chicken Burrito       8.49
1694           Veggie Salad       8.49
1414                  Salad        7.4

In [23]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [27]:
price_per_item.sort_values(by = 'item_name', ascending = True).drop('item_price',axis='columns')

                                  item_name
298                       6 Pack Soft Drink
39                            Barbacoa Bowl
21                         Barbacoa Burrito
168                   Barbacoa Crispy Tacos
1229                    Barbacoa Salad Bowl
56                      Barbacoa Soft Tacos
34                            Bottled Water
673                                    Bowl
510                                 Burrito
28                              Canned Soda
263                       Canned Soft Drink
33                            Carnitas Bowl
27                         Carnitas Burrito
554                   Carnitas Crispy Tacos
3750                         Carnitas Salad
1132                    Carnitas Salad Bowl
237                     Carnitas Soft Tacos
5                              Chicken Bowl
16                          Chicken Burrito
11                     Chicken Crispy Tacos
250                           Chicken Salad
44                       Chicken Salad Bowl
12                       Chicken Soft Tacos
40                                    Chips
0              Chips and Fresh Tomato Salsa
10                      Chips and Guacamole
674       Chips and Mild Fresh Tomato Salsa
233      Chips and Roasted Chili Corn Salsa
191      Chips and Roasted Chili-Corn Salsa
38    Chips and Tomatillo Green Chili Salsa
111     Chips and Tomatillo Red Chili Salsa
3     Chips and Tomatillo-Green Chili Salsa
300     Chips and Tomatillo-Red Chili Salsa
520                            Crispy Tacos
1                                      Izze
2                          Nantucket Nectar
1414                                  Salad
6                             Side of Chips
54                               Steak Bowl
7                             Steak Burrito
92                       Steak Crispy Tacos
664                             Steak Salad
606                        Steak Salad Bowl
8                          Steak Soft Tacos
62                              Veggie Bowl
57                           Veggie Burrito
1653                    Veggie Crispy Tacos
1694                           Veggie Salad
186                       Veggie Salad Bowl
738                       Veggie Soft Tacos

In [31]:
len(chipo[chipo.item_name=='Veggie Salad Bowl'])

18

In [36]:
(chipo[(chipo.item_name =='Canned Soda')&(chipo.quantity>1)])

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]       2.18
51          23         2  Canned Soda     [Mountain Dew]       2.18
162         73         2  Canned Soda        [Diet Coke]       2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]       2.18
350        150         2  Canned Soda        [Diet Coke]       2.18
352        151         2  Canned Soda        [Coca Cola]       2.18
698        287         2  Canned Soda        [Coca Cola]       2.18
700        288         2  Canned Soda        [Coca Cola]       2.18
909        376         2  Canned Soda     [Mountain Dew]       2.18
1091       450         2  Canned Soda       [Dr. Pepper]       2.18
1092       450         2  Canned Soda        [Coca Cola]       2.18
1944       787         2  Canned Soda       [Dr. Pepper]       2.18
2135       859         2  Canned Soda        [Diet Coke]       2.18
2235       901         4  Canned Soda           [Sprite]       4.36
2905      1156         2  Canned Soda        [Coca Cola]       2.18
2906      1156         2  Canned Soda           [Sprite]       2.18
3152      1258         2  Canned Soda       [Dr. Pepper]       2.18
3364      1349         2  Canned Soda        [Coca Cola]       2.18
3592      1440         2  Canned Soda        [Diet Coke]       2.18
3866      1550         2  Canned Soda     [Mountain Dew]       2.18

In [35]:
chipo[chipo.item_name=='Canned Soda'][chipo.quantity>1]

<ipython-input-35-ec0279747cd8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[chipo.item_name=='Canned Soda'][chipo.quantity>1]

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]       2.18
51          23         2  Canned Soda     [Mountain Dew]       2.18
162         73         2  Canned Soda        [Diet Coke]       2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]       2.18
350        150         2  Canned Soda        [Diet Coke]       2.18
352        151         2  Canned Soda        [Coca Cola]       2.18
698        287         2  Canned Soda        [Coca Cola]       2.18
700        288         2  Canned Soda        [Coca Cola]       2.18
909        376         2  Canned Soda     [Mountain Dew]       2.18
1091       450         2  Canned Soda       [Dr. Pepper]       2.18
1092       450         2  Canned Soda        [Coca Cola]       2.18
1944       787         2  Canned Soda       [Dr. Pepper]       2.18
2135       859         2  Canned Soda        [Diet Coke]       2.18
2235       901         4  Canned Soda           [Sprite]       4.36
2905      1156         2  Canned Soda        [Coca Cola]       2.18
2906      1156         2  Canned Soda           [Sprite]       2.18
3152      1258         2  Canned Soda       [Dr. Pepper]       2.18
3364      1349         2  Canned Soda        [Coca Cola]       2.18
3592      1440         2  Canned Soda        [Diet Coke]       2.18
3866      1550         2  Canned Soda     [Mountain Dew]       2.18